@import './colors.scss';

input[type="text"], textarea {
  letter-spacing: 2px;
  outline: none;
  resize: none;
  border: none;

  font: {
    family: "Open Sans", sans-serif;
    size: 18px;
    weight: 200;
  }

  &::placeholder {
    color: transparentize(#989898, 0.3);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: transparentize(#989898, 0.3);
  }

  &::-ms-input-placeholder {
    color: transparentize(#989898, 0.3);
  }
}
