@import './common/base';

.workout-view {
  background: transparentize($grey, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .view-container {
    width: calc(100% - 180px);
  }
}
